@use "@coreui/coreui/scss/coreui" with (
  $enable-deprecation-messages: false
);

@forward "ads";
@forward "anchor";
@forward "callouts";
@forward "component-examples";
@forward "footer";
@forward "layout";
@forward "prism";
@forward "scrolling";
@forward "search";
@forward "sidebar";
@forward "table-api";
@forward "toc";
@forward "custom-container";

.back-to-top {
--c-brand: #3eaf7c;
--c-brand-light: #4abf8a;
--back-to-top-color: var(--c-brand);
--back-to-top-color-hover: var(--c-brand-light);
}