
.docs-example {

  + div[class*='language-'] {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1.5rem;
    border-radius: 0 0 6px 6px;
    max-height: 500px;
    overflow: scroll;

    pre {
      margin-top: 0;
    }
  }
}

.docs-example-offcanvas .offcanvas {
  position: static;
  display: block;
  height: 200px;
  visibility: visible;
  transform: translate(0);
}

//
// Grid examples
//

.docs-example-row {
  .row {
    > .col,
    > [class^="col-"] {
      padding-top: .75rem;
      padding-bottom: .75rem;
      background-color: rgba(39, 41, 43, .03);
      border: 1px solid rgba(39, 41, 43, .1);
    }
  }

  .row + .row {
    margin-top: 1rem;
  }
}

.docs-example-row-flex-cols .row {
  min-height: 10rem;
  background-color: rgba(255, 0, 0, .1);
}

.docs-example-cssgrid {
  text-align: center;

  .grid + .grid {
    margin-top: 1rem;
  }

  .grid > * {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(255, 0, 255, .1);
    border: 1px solid rgba(255, 0, 255, .25);
  }
}

// Grid mixins
// .example-container {
//   width: 800px;
//   @include make-container();
// }

// .example-row {
//   @include make-row();
// }

// .example-content-main {
//   @include make-col-ready();

//   @include media-breakpoint-up(sm) {
//     @include make-col(6);
//   }

//   @include media-breakpoint-up(lg) {
//     @include make-col(8);
//   }
// }

// .example-content-secondary {
//   @include make-col-ready();

//   @include media-breakpoint-up(sm) {
//     @include make-col(6);
//   }

//   @include media-breakpoint-up(lg) {
//     @include make-col(4);
//   }
// }


//
// Docs examples
//

.docs-example {
  // position: relative;
  // padding: 1rem;
  // margin: 1rem (-$grid-gutter-width * .5) 0;
  // border: solid $gray-200;
  // border-width: 1px 0 0;
  // @include clearfix();

  // @include media-breakpoint-up(sm) {
  //   padding: 1.5rem;
  //   margin-right: 0;
  //   margin-left: 0;
  //   border-width: 1px;
  //   @include border-top-radius(.25rem);

  //   + .docs-clipboard + .highlight {
  //     @include border-bottom-radius(.25rem);
  //   }
  // }

  + p {
    margin-top: 2rem;
  }

  > .form-control {
    + .form-control {
      margin-top: .5rem;
    }
  }

  > .nav + .nav,
  > .alert + .alert,
  > .navbar + .navbar,
  > .progress + .progress {
    margin-top: 1rem;
  }

  > .dropdown-menu {
    position: static;
    display: block;
  }

  > :last-child {
    margin-bottom: 0;
  }

  // Images
  > svg + svg,
  > img + img {
    margin-left: .5rem;
  }

  // Buttons
  > .btn,
  > .btn-group {
    margin: .25rem .125rem;
  }
  > .btn-toolbar + .btn-toolbar {
    margin-top: .5rem;
  }

  // List groups
  > .list-group {
    max-width: 400px;
  }

  > [class*="list-group-horizontal"] {
    max-width: 100%;
  }

  // Navbars
  .fixed-top,
  .sticky-top {
    position: static;
    margin: -1rem -1rem 1rem;
  }

  .fixed-bottom {
    position: static;
    margin: 1rem -1rem -1rem;
  }

  // @include media-breakpoint-up(sm) {
  //   .fixed-top,
  //   .sticky-top {
  //     margin: -1.5rem -1.5rem 1rem;
  //   }
  //   .fixed-bottom {
  //     margin: 1rem -1.5rem -1.5rem;
  //   }
  // }

  // Pagination
  .pagination {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
}

// // Ratio helpers
// .docs-example-ratios {
//   .ratio {
//     display: inline-block;
//     width: 10rem;
//     color: $gray-600;
//     background-color: $gray-100;
//     border: $border-width solid $border-color;

//     > div {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
//   }
// }
// .docs-example-ratios-breakpoint {
//   .ratio-4x3 {
//     width: 16rem;

//     // @include media-breakpoint-up(md) {
//     //   aspect-ratio: 50%; // 2x1
//     // }
//   }
// }

.docs-example-modal {
  background-color: #fafafa;

  .modal {
    position: static;
    display: block;
  }
}

.docs-example-offcanvas {
  // @include border-start-radius(0);

  .offcanvas {
    position: static;
    display: block;
    height: 200px;
    visibility: visible;
    transform: translate(0);
  }
}

// Tooltips
.tooltip-demo a {
  white-space: nowrap;
}

// Scrollspy demo on fixed height div
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: .5rem;
  overflow: auto;
}

.scrollspy-example-2 {
  position: relative;
  height: 350px;
  overflow: auto;
}

// .docs-example-position-utils {
//   position: relative;
//   padding: 3em;

//   .position-relative {
//     height: 200px;
//     background-color: #f5f5f5;
//   }

//   .position-absolute {
//     width: 2em;
//     height: 2em;
//     background-color: $dark;
//   }
// }

.docs-example-position-examples {
  &::after {
    content: none;
  }
}

// Toasts
.docs-example-toasts {
  min-height: 240px;
}