@import "@coreui/coreui/scss/coreui.scss";
@import "@docsearch/css/dist/style.css";

@import "variables";

@import "ads";
@import "anchor";
@import "component-examples";
@import "footer";
@import "layout";
@import "prism";
@import "scrolling";
@import "search";
@import "sidebar";
@import "table-api";
@import "toc";
@import "custom-container";

.back-to-top {
--c-brand: #3eaf7c;
--c-brand-light: #4abf8a;
--back-to-top-color: var(--c-brand);
--back-to-top-color-hover: var(--c-brand-light);
}